@model IEnumerable<AuthorBookRelationshipsDemo.Models.Author>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.AuthorDetails.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorDetails.City)
            </th>
            @*<th>
                Total Orders : 
            </th>*@
          

            <th>
                @Html.DisplayNameFor(model => model.AuthorDetails.Country)

            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                @item.Books.Count()
            </td>*@
            <td>
                @item.AuthorDetails.Street
            </td>
            <td>
                @item.AuthorDetails.City
            </td>
         
            <td>
                @item.AuthorDetails.Country
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("BookDetails", "BookDetails","Book", new { authid = item.Id },null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
